/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.nav, .nav-logo {
	display: inline;
	margin: 0.5rem;
}



nav .right-nav {
	float: right;
	display: inline;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 3px double silver;
	list-style-type: none;
	position: sticky;
	top: 0px;
	background-color: rgba(255, 255, 255, 1);
}


#bg-image {
	background-image: url(https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/page/search-creative-images/banners/1534x800/4k-laptop-white-dell-scp-mobile.png?fmt=png-alpha&wid=800&hei=418);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	margin: 30px;
	min-height: 50vh;
}

.tuitt-button, .apply-button {
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 30px;
	min-height: 50vh;
}

.title, .title-2 {
	font-family: 'Zilla Slab', sans-serif;
}

.title {
	font-size: 40px;
	margin-left: 55vw;
	text-align: right;
	max-width: 40vw;
	color: white;
}

.subtitle {
	font-size: 17px;
	margin-left: 70vw;
	text-align: right;
	max-width: 25vw;
	color: white;
	font-weight: inherit;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding: 75px 150px;

}

.apply-button {
	float: right;
}

.intro{
		padding: 75px 150px;
}

.title-2{
	text-align: center;
}

.book-button {
	color: white;
	background-color: #336589;
	font-weight: bold;
	border-radius: 25px;
	font-size: 0.8rem;
	padding: 0.5rem;
}

footer{
	text-align: center;
	padding: 20px;
}