#style_para{
	color: yellow;
}

*{
	font-family: "sans-serif", arial ;
}

h1{
	font-size: 40px;
}

#things-to-be-learned{
	text-transform: uppercase;
}

.languages{
	background-color: seagreen;
}

.tools-used{
	border-style: solid;
	border-color: lightblue;
}

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

img + ul {
	list-style-type: none;
}

body > ul > li {
	letter-spacing: 8px;
}

img ~ p{
	text-align: center;
}
